# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Downloaded datasets
data/*
src/data/*
src/data/intermediate/*
outputs/*
results/*
src/stability_radius/outputs/*
src/paper/

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Virtual environment
venv/
SCUC/
!src/optimization_model/solver/scuc/
!src/optimization_model/solver/scuc/**

*.pyc

openapi/

*.json
*.csvlist.md

list.md
res.md
run.txt
*.tex