# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Downloaded datasets
src/data/input/
instances/**/gurobi_cases.zip
drafts/

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Virtual environment
venv/
SCUC/

